<% include ./partials/header %>

<h1>Log in</h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="Your username. Be creative man!!!">
	<input type="password" name="password" placeholder="This one you should remember even if you die some day.">
	<input type="submit" value="Login">
</form>

<% include ./partials/footer %>